.features-section{
background:#f5f6f7;
}

.feature-box{
padding:20px;
}

.feature-icon{
font-size:55px;
color:#2b2b5e;
margin-bottom:20px;
}

.feature-box h4{
font-weight:600;
margin-bottom:10px;
}

.feature-box p{
color:#6c757d;
font-size:15px;
line-height:1.6;
}